<html>
	<body>
	<!-- Header -->
		<header id="header">
		  <a href="index.html" class="logo"><strong>Finco</strong></a>
		</header><br>
     <h1></h1>
     
		<span class="image fit"><%=image_tag ('a1 (19).jpg')%></span>
			<h3>Spring Warm </h3>
												
			<div class="box alt">
			<div class="row 50% uniform">
	     	<div class="4u"><span class="image fit"><%=image_tag ('b (4).jpg')%></span></div>
		    <div class="4u"><span class="image fit"><%=image_tag ('b (6).jpg')%></span></div>
			<div class="4u$"><span class="image fit"><%=image_tag ('b (10).jpg')%></span></div>
			
			</div>
			</div>
			
			
		
     </body>
</html>