<html>
	<body>
	<!-- Header -->
		<header id="header">
		  <a href="index.html" class="logo"><strong>Finco</strong></a>
		</header><br>
     <h1></h1>
     
		<span class="image fit"><%=image_tag ('a1 (2).jpg')%></span>
			<h3>Autumn Warm</h3>
												
			<div class="box alt">
			<div class="row 50% uniform">
	     	<div class="4u"><span class="image fit"><%=image_tag ('b (9).jpg')%></span></div>
		    <div class="4u"><span class="image fit"><%=image_tag ('b (11).jpg')%></span></div>
			<div class="4u$"><span class="image fit"><%=image_tag ('b (2).jpg')%></span></div>
			
			</div>
			</div>
			
		<footer id="footer">
	     <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
		</footer>


     </body>
</html>
