
<html>
	<body>
	<!-- Header -->
		<header id="header">
		  <a href="index.html" class="logo"><strong>Finco</strong></a>
		</header><br>
     <h1>진단하기</h1>
     <h3>나만의 인생 립스틱 Best 5를 써주세요!</h3>
     <h5>*평소에 잘 쓰는 립스틱들을 써주셔야 진단에 도움이 됩니다*</h5>

	<div class="12u$">
	  <textarea name="demo-message" id="demo-message" placeholder="What is your favorite Lips ?" rows="6"></textarea>
	</div><br><br>
     
    <li><a href="#" class="image"><%= image_tag('aa3.jpeg', width: '500')%></li><br><br>
     
		<ul class="pagination">
		
		<li><a href="/jindans/index" class="page active">1</a></li>
		<li><a href="/jindans/show" class="page">2</a></li>
		<li><a href="/jindans/show1" class="page">3</a></li>
		<li><a href="/jindans/show2" class="page">4</a></li>
		<li><a href="/jindans/show3" class="page">5</a></li>
	    
		</ul>
     
     	

     
     
     </body>
</html>