<html>
	<body>
		<!-- Header -->
		<header id="header">
		  <a href="index.html" class="logo"><strong>Finco</strong></a>
		</header>
		<br>
     <h1>진단하기</h1><br>
     <h3><strong>Finco</strong> 전문가들의 정확한 진단을 위해 조금만 기다려주세요!</h3>
	 <h5><strong>Finco</strong>는 프로그램이 아닌 전문가들이 직접 고객님의 톤을</h5>
	 <h5>정확하게 진단해드리기 위해 시간이 걸리는 점 양해부탁드립니다! :)</h5><br>
	 
		<ul class="pagination">
		
		<li><a href="/jindans/index" class="page ">1</a></li>
		<li><a href="/jindans/show" class="page">2</a></li>
		<li><a href="/jindans/show1" class="page">3</a></li>
		<li><a href="/jindans/show2" class="page">4</a></li>
		<li><a href="/jindans/show3" class="page">5</a></li>
	    <li><a href="/jindans/show4" class="button">제출</a></li>
		</ul>
     
		<footer id="footer">
	     <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
		</footer>
    
     
     
     </body>
</html>