<html>
	<body>
		<!-- Header -->
		<header id="header">
		  <a href="index.html" class="logo"><strong>Finco</strong></a>
		</header><br>
     <h1>진단하기</h1>
     <h3>나의 모발은?</h3>
     <br>

	<div class="4u 12u$(small)">
	   <input type="radio" id="t1" name="t" checked>
		<label for="t1">건조하고 푸석푸석한 모발</label>
		</div>
	<div class="4u 12u$(small)">
	<input type="radio" id="t2" name="t">
	<label for="t2">윤기나고 탱탱한 모발</label>
	</div><br>
     
     <h3>나의 이미지</h3>
     <h4>내가 생각하는 이미지가 아니라 주위에서 말해주는 이미지로 해주세요!</h4>
     <br>

	<div class="4u 12u$(small)">
	   <input type="radio" id="w1" name="w" checked>
		<label for="w1">귀엽고 생기발랄한 이미지</label>
		</div>
	<div class="4u 12u$(small)">
	<input type="radio" id="w2" name="w">
	<label for="w2">부드럽고 여성스러운 이미지</label>
	</div>
	<div class="4u$ 12u$(small)">
	<input type="radio" id="w3" name="w">
	<label for="w3">분위기 있고 차분한 이미지</label>
	</div>
	<div class="4u$ 12u$(small)">
	<input type="radio" id="w4" name="w">
	<label for="w4">눈동자가 또렷하고 도시적인 이미지</label>
	</div><br>
     
		<ul class="pagination">
		
		<li><a href="/jindans/index" class="page">1</a></li>
		<li><a href="/jindans/show" class="page">2</a></li>
		<li><a href="/jindans/show1" class="page">3</a></li>
		<li><a href="/jindans/show2" class="page active">4</a></li>
		<li><a href="/jindans/show3" class="page">5</a></li>
	    
		</ul>
     
		<footer id="footer">
	     <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
		</footer>
     
     
     
     </body>
</html>